/* Reset default margin and padding for all elements */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", sans-serif;
	background-color: #f5f5f5;
}

.card {
	max-width: 368px;
	background-color: white;
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.card-content {
	padding: 0 16px 16px 16px;
}

img {
	width: 100%;
	aspect-ratio: 16 / 9;
	object-fit: cover;
	display: block;
}

.image-container {
	padding: 16px;
}

.badge {
	display: inline-block;
	background-color: rgb(213, 177, 247);
	color: rgb(132, 9, 239);
	font-weight: 600;
	font-size: 10px;
	border-radius: 15px;
	padding: 4px 14px;
	margin-bottom: 16px;
}

h3 {
	margin-bottom: 6px;
}

.description {
	max-width: 280px;
	font-size: 14px;
	color: #959595;
	margin-bottom: 40px;
}

.signature {
	font-size: 12px;
	color: #959595;
	margin-bottom: 20px;
}
