*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins", sans-serif;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1.875rem; /* 30px */
	gap: 2.5rem; /* 40px */
}

h1 {
	max-width: 500px;
	margin: 0 auto;
	line-height: 1.5;
	text-align: center;
	font-weight: 600;
}

main {
	padding: 0 10px;
}

.divider {
	color: rgb(191, 191, 191);
}

.articles-wrapper {
	padding-top: 3.125rem; /* 50px */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.125rem; /* 50px */
}

.article-card {
	display: flex;
	gap: 3.75rem; /* 60px */
	align-items: center;
}

.image-container {
	aspect-ratio: 1 / 1;
	width: 160px;
	overflow: hidden;
	border-radius: 16px;
}

.responsive-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text-container {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	gap: 0.9375rem; /* 15px */
}

.text-container time {
	color: grey;
	font-size: 0.875rem;
}

.text-container h2 {
	font-size: 1.25rem;
	font-weight: 600;
}

/* Select the image inside the first article card */
.article-card:nth-child(1) .responsive-image {
	object-position: 55% 0%;
}

.article-card:nth-child(2) .responsive-image {
	object-position: 70% 0%;
}

.article-card:nth-child(3) .responsive-image {
	object-position: 35% 0%;
}
