/* Utility class to hide labels visually but keep them for screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    color: #121212;
    padding-top: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 250px;
    border: 2px solid #121212  ;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

button {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 226px;
    height: 40px;
    background-color: #121212;
    color: white;
    border: none;
    font-weight: bold;
}

#email-input {
    margin-top: 30px;
    text-align: center;
    width: 220px;
    font-size: large;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    border: 3px solid #121212;
}

p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.underline {
    text-decoration: underline;
}

.terms-text {
    font-style: italic;
}

.box {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #121212;
    width: 500px;
    height: 590px;
}

