body {
    
}

h1 {
    text-align: center;
    color: #121212;
    padding-top: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 250px;
    border: 2px solid #121212  ;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

button {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.underline {
    text-decoration: underline;
}

.terms-text {
    font-style: italic;
}

.box {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #121212;
    width: 500px;
    height: 550px;
}

