/* Utility class to hide labels visually but keep them for screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Reset default margin and padding for all elements */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;   /* Center orizzontaly because of the change of axis with flex-direction */
}

/* Add padding specifically to lists to make room for markers */
.faq-list {
    padding-left: 18px;
}

.faq-content, .faq-header {
    width: 100%;   /* Makes it responsive: takes 100% on small screens, stops at 700px on big ones */
}

.faq-content {
    background-color: grey;
    flex-grow: 1;
}

.container {
    max-width: 700px;   /* Limits the width so it's not stretched across the screen */
    padding: 20px;   /* Adds some internal space so text doesn't touch the borders */
    margin: 0 auto;
}

.faq-header .container {
    text-align: center;
}