*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
}

card-body {
  display: flex;
  flex-direction: column;
}

.card-footer {
  display: flex;
}

.author-details {
  display: flex;
  flex-direction: column;
}
