*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 100px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-footer {
  display: flex;
}

.author-details {
  display: flex;
  flex-direction: column;
}

.card-header {
  width: 100%;
}

.card-image {
  width: 100%;
  display: block;
  object-fit: cover;
}
