*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-text: #18181b;
  --color-muted: #52525a;
  --shadow-card: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
  --radius-card: 10px;
}

body {
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 100px auto;
  overflow: hidden;
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.author-details {
  display: flex;
  flex-direction: column;
}

.card-header {
  width: 100%;
}

.card-image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.author-avatar {
  width: 60px;
  display: block;
  object-fit: cover;
}

.card-description,
.author-role {
  color: var(--color-muted);
}

hr {
  margin: 25px 0;
  border: var(--color-muted) 1px solid;
  opacity: 4%;
}

.card-body,
.card-footer {
  padding: 0 30px;
}
