*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-text: #18181b;
  --color-muted: #52525a;
  --shadow-card: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
  --radius-card: 10px;
}

body {
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 100px auto;
  overflow: hidden;
  border-radius: var(--radius-card);
  box-shadow: var(--shadow-card);
}

.card-body,
.card-footer {
  padding: 0 40px;
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.author-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.card-header {
  position: relative;
  width: 100%;
}

.card-image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.wave-separator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
}

.author-avatar {
  width: 60px;
  display: block;
  object-fit: cover;
}

.card-description,
.author-role {
  color: var(--color-muted);
}

hr {
  margin: 25px 0 35px;
  border: var(--color-muted) 1px solid;
  opacity: 4%;
}

.card-footer {
  padding-bottom: 25px;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
}

.card-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 1.5;
}

.card-description {
  line-height: 1.5;
  font-size: 16px;
}

.author-name {
  font-size: 18px;
  font-weight: 600;
}

.author-role {
  font-size: 14px;
  font-weight: 500;
}
