*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    height: 100vh;
    color: rgb(103, 103, 103);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px 20px;
}

.team-grid {
    display: grid;
    width: 800px;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.intro {
    grid-column: span 2;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px ;
    background-size: cover;
    aspect-ratio: 1/1;
}

.liam {
    background-image: url("assets/picture-liam.jpg");
}

.noah {
    background-image: url("assets/picture-noah.jpg");
}

.isabella {
    background-image: url("assets/picture-isabella.jpg");
}

.ethan {
    grid-column: 2;
    background-image: url("assets/picture-ethan.jpg");
}

.sophia {
    background-image: url("assets/picture-sophia.jpg");
}


@media screen and (max-width: 768px) {
    .team-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    
    .ethan {
        grid-column: inherit;
    }
}
