*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px 20px;
}

.team-grid {
    display: grid;
    width: 800px;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(224, 224, 224);
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-column: span 2;
    padding: 30px;
    color: black;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px ;
    background-size: cover;
    aspect-ratio: 1/1;
    background-image: linear-gradient(to top, #00000033, transparent 20%);
}

.card::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #0000008F, transparent 30%);
}

.card * {
    z-index: 1;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

h2 {
    font-size: 12px;
}

p {
    font-size: 12px;
}

.intro span{
    font-size: 12px;
    color: blue;
}

.intro p {
    margin-top: 5px;
    color: rgb(54, 54, 54);
}

.card p {
    font-size: 10px
}

.liam {
    background-image: url("assets/picture-liam.jpg");
}

.noah {
    background-image: url("assets/picture-noah.jpg");
}

.isabella {
    background-image: url("assets/picture-isabella.jpg");
}

.ethan {
    grid-column: 2;
    background-image: url("assets/picture-ethan.jpg");
}

.sophia {
    background-image: url("assets/picture-sophia.jpg");
}


@media screen and (max-width: 768px) {
    .team-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    
    .ethan {
        grid-column: inherit;
    }
}
