*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fafaf9;
	min-height: 100vh;
	font-family: "Sora", sans-serif;
	color: #18181b;
}

.hero-star {
	background-color: #fda44c;
	padding: 12px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.page-container {
	display: flex;
	min-height: 100vh;
	max-width: 1700px;
	margin: 0 auto;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	padding: 0 40px;
}

li {
	display: flex;
	align-items: center;
	gap: 10px;
}

header {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

header p {
	max-width: 550px;
	line-height: 1.7;
	font-size: 20px;
	color: #52525a;
}

.hero-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.checklist {
	margin-top: 10px;
}

.checklist span {
	max-width: 500px;
	font-size: 14px;
	color: #52525a;
}

.checklist img {
	align-self: flex-start;
}

.testimonials-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.testimonial-card {
	display: flex;
	flex-direction: column;
	gap: 5px;
	background-color: #ffffff;
	box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
	border-radius: 10px;
	padding: 30px 40px;
}

.card-brand {
	display: flex;
	gap: 20px;
	align-items: center;
}

.stars-row {
	display: flex;
	text-align: center;
}

.stars-row img {
	height: 29px;
	width: auto;
	align-self: center;
}

.card-brand > img {
	height: 35px;
	width: auto;
}

.testimonial-card--bottom .card-brand > img {
	height: 40px;
}

.testimonial-card p {
	color: #52525a;
	line-height: 1.7;
	max-width: 280px;
}

.testimonial-card h2 {
	font-weight: 600;
	font-size: 18px;
	margin-top: 10px;
}
