*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fafaf9;
	min-height: 100vh;
	font-family: "Sora", sans-serif;
}

.hero-star {
	background-color: #fda44c;
	padding: 12px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.page-container {
	display: flex;
	min-height: 100vh;
	max-width: 1700px;
	margin: 0 auto;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	padding: 0 40px;
}

.testimonial-card {
	background-color: rgb(237, 120, 120); /* #FFFFFF */
}

li {
	display: flex;
	align-items: center;
	gap: 10px;
}

header p {
	max-width: 400px;
}

.hero-content {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
